body {
  background-color: powderblue;
}
h1 {
  margin-right: 750px;
  margin-left: 750px;
  border: 2px solid blue;
  text-align: center;
  display: flex;
  white-space: nowrap; 
}

div {
  display: flex;
  justify-content: center;
}

img {
  margin-left: 10px;
  margin-right: 10px;
}

.box {
  display: block;
  width: 500px;
  height: 500px;
  margin :auto;
  background: radial-gradient(circle, #6741d9 12%,#745fb3 100%);
  background: -moz-radial-gradient(circle, #6741d9 12%,#745fb3 100%);
  background: -webkit-radial-gradient(circle, #6741d9 12%,#745fb3 100%);
  border-radius: 73px 73px 73px 73px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}