body { 
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(79,70,252,1) 100%);
}
h1 {
  margin-right: 750px;
  margin-left: 750px;
  text-align: center;
  display: flex;
  white-space: nowrap;
  color: #000000; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 42px;
  font-weight: 100; 
  line-height: 50px; 
  letter-spacing: 1px;
  padding: 0 0 40px; 
}

div {
  display: flex;
  justify-content: center;
}

img {
  margin-left: 20px;
  margin-right: 20px;
}

.box {
  display: block;
  width: 500px;
  height: 500px;
  margin :auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
  margin-bottom: 20px;
  }
  
  input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
  }
  .btn {
    border: 0;
    display: inline-block;
    width: 250px;
    height: 50px;
    background: #F98183;
    font-size: 2em;
    text-align: center;
    border-radius: 2em;
    color: white;
    text-shadow: 0 1px 0 #F8474F;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -mz-user-select: none;
    user-select: none;
    outline: none;
  }
  
  .btn:active {
    background: #FF6161;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  .btn:before {
    content: ' ';
    display: block;
    background: rgba(255, 255, 255, .2);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 2em;
    transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transition: transform 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
  }
  
  .btn:hover:before {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }